* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: antiquewhite;
}

::selection {
    color: white;
    background: blue;
}

#startBtn, #ruleBox, #quiz, #resultsBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0, 0 6px 20px 0;
}

#ruleBox.activeInfo, #quiz.activeQuiz, #resultBox.activeResult {
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

#startBtn button {
    font-size: 25px;
    font-weight: 500;
    color: blue;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: white;
    cursor: pointer;
}

#ruleBox {
    width: 540px;
    background: white;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

#ruleBox, #ruleTitle {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid;
    display: flex;
    align-items: center;
    padding: 0 30px;
    border-radius: 5px 5px 0 0;
    font-size: 20px;
    font-weight: 600;
}

#ruleBox, #ruleList {
    padding: 15px 30px;
}

#ruleBox, #ruleList, #rule {
    margin: 5px 0;
    font-size: 17px;
}